.svgSmall {
  max-width: 100px;
  max-height: 100px;
}

.svgMedium {
  min-width: 300px;
  min-height: 300px;
}

.svgLarge {
  max-width: 400px;
  max-height: 400px;
}

.svgAbsolute {
  position: absolute;
}

.svgBackground {
  z-index: 0;
}

.svgForeground {
  z-index: 5;
}

#square {
  top: 65%;
  left: 15vw;
  transition: ease-in-out;
}
#triangle {
  top: 5%;
  left: 10vw;
}
#parallelogram {
  top: 2%;
  right: 15vw;
}
#circle {
  top: 45%;
  right: 10vw;
}

#blob {
  width: 80%;
  height: 80%;
}