.figure {
    .img {
        width: min(27.5vw, 100%);

        aspect-ratio: 1 / 1;
        object-fit: cover;
        object-position: bottom;
    }

    figcaption {
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);

        &,
        & > * {
            font-family: var(--ff-header-text);
        }

        & > * {
            color: var(--clr-difference);
            text-decoration: none;
            outline: none;
        }
    }
}