.figure {
    .img {
        position: relative;
        width: min(27.5vw, 100%);

        aspect-ratio: 1 / 1;
        object-fit: cover;
        object-position: bottom;
    }

    figcaption {
        position: absolute;
        left: 50%;
        bottom: 30px;
        width: 35%;

        text-align: center;

        transform: translateX(-50%);

        &,
        & > * {
            font-family: var(--ff-header-text);
            mix-blend-mode: var(--contrast);
        }

        & > * {
            color: var(--clr-difference);
            text-decoration: none;
            outline: none;
        }
    }
}